<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
            margin: 0 auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            background-color: #2d2d2d;
            max-width: 1440px;
        }

        .box {
            width: 90%;
            margin: 10px auto;
            background-color: #ddd;
            border-collapse: collapse;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .box #boxFooter {
            width: 90%;
            margin: 10px auto;
            border-collapse: collapse;
            text-align: left;
            color: #333;
        }

        .header,
        .content {
            text-align: center;
            margin-top: 20px;
        }

        #map {
            height: 500px;
            width: 95%;
            margin: 20px auto;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .pure-table {
            width: 95%;
            margin: 20px auto;
            border-collapse: collapse;
            border: 1px solid #ccc;
        }

        .pure-table th,
        .pure-table td {
            padding: 12px 15px;
            text-align: left;
            border: 1px solid #ccc;
        }

        .pure-table th {
            background-color: #ccc;
            color: #333;
        }

        .pure-table td {
            background-color: #ffffff;
        }

        .text-light {
            color: #bbb;
        }

        h3 {
            color: #333;
        }

        footer {
            text-align: center;
            color: #b3b3b3;
            text-decoration: none;
            font-size: 0.9em;
            padding: 15px;
            line-height: 24px;
        }

        footer a {
            color: #fff;
            text-decoration: none;
        }

        footer iframe {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1 header box">
            <h3>Node Map</h3>
            <div id="map"></div>
            <div id="boxFooter">Last Update: <span id="lastUpdated"></span></div>
        </div>
        <div class="pure-u-1 content box">
            <h3>Node Info</h3>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>User Agent</th>
                        <th>Height</th>
                        <th>Country</th>
                        <th>Location</th>
                        <th>Network</th>
                    </tr>
                </thead>
                <tbody id="locationsTable"></tbody>
            </table>
        </div>
    </div>
    <script>
        let map = L.map('map').setView([25, -0.0005], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        fetchLocations();

        function fetchLocations() {
            fetch('/peer-locations')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('lastUpdated').textContent = data.lastUpdated;
                    populateTable(data.locations);
                    placeMarkers(data.locations);
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        function populateTable(locations) {
            const table = document.getElementById('locationsTable');
            table.innerHTML = '';
            locations.forEach(location => {
                const row = table.insertRow();
                row.insertCell().innerHTML = location.ip.replace('\n', '<br>');
                row.insertCell().innerHTML = location.userAgent.replace('\n', '<br>');
                row.insertCell().textContent = location.blockHeight;
                row.insertCell().innerHTML = location.country.replace('\n', '<br>');
                row.insertCell().innerHTML = location.city.replace('\n', '<br>');
                row.insertCell().innerHTML = location.org;
            });
        }

        function placeMarkers(peers) {
            peers.forEach(peer => {
                if (peer.location) {
                    var latLng = L.latLng(peer.location[0], peer.location[1]);
                    L.marker(latLng).addTo(map).bindPopup(peer.ip);
                }
            });
        }

    </script>
</body>
<footer>
    <div>
        This site is powered by <a target="_blank" href="https://github.com/ROZ-MOFUMOFU-ME/nodemap">nodemap</a>
        project created by <a target="_blank" href="https://github.com/ROZ-MOFUMOFU-ME">ROZ</a> originality and is
        licensed under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.&nbsp;&nbsp;
        Contact:&nbsp;&nbsp;
        <a target="_blank" href="https://twitter.com/ROZ_mofumofu_me"><i class="fab fa-x-twitter fa-fw"></i></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="mailto:mail@mofumofu.me"><i class="fas fa-envelope fa-fw"></i></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://discord.gg/zHUdQy2NzU"><i class="fab fa-discord fa-fw"></i></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a target="_blank" href="https://github.com/ROZ-MOFUMOFU-ME"><i class="fab fa-github fa-fw"></i></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <iframe src="https://ghbtns.com/github-btn.html?user=ROZ-MOFUMOFU-ME&repo=nodemap&type=star&count=true"
            frameborder="0" scrolling="0" width="150" height="20"></iframe><br>
        <i
            class="fas fa-heart fa-fw"></i>&nbsp;&nbsp;Donating&nbsp;BTC:&nbsp;3FpbJ5cotwPZQn9fcdZrPv4h72XquzEvez&nbsp;&nbsp;ETH:
        0xc664a0416c23b1b13a18e86cb5fdd1007be375ae&nbsp;&nbsp;LTC: Lh96WZ7Rw9Wf4GDX2KXpzieneZFV5Xe5ou<br>
        BCH: pzdsppue8uwc20x35psaqq8sgchkenr49c0qxzazxu&nbsp;&nbsp;ETC:
        0xc664a0416c23b1b13a18e86cb5fdd1007be375ae&nbsp;&nbsp;MONA: MLEqE3vi11j4ZguMjkvMn5rUtze6kXbAzQ
    </div>
</footer>

</html>